<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
		
		<ul><li><div class="nav__title">AdminPanel</div></li>
			<li><a href="{{ url_for('messages') }}">Сообщения</a></li>
			<li><a href="{{ url_for('coupons') }}">Купоны</a></li>
			<li><a href="{{ url_for('users') }}">Пользователи</a></li>
            <li><a href="{{ url_for('settings') }}">Настройки</a></li>
            <li><a href="{{ url_for('history') }}">История</a></li>
            <li><a href="{{ url_for('write_to_person') }}">Написать человеку</a></li>
            <li><a href="{{ url_for('do_mailing') }}">Сделать рассылку</a></li>
		</ul>
	</nav>
    <main>
        {%if request.method == "POST"%}
        <div class = "green">
            <span>Успешно!</span>
        </div>
        {%endif%}
        {%if action == "users"%}
        <form action="/{{action}}/save" method="POST">
            <div>
                <span>id</span>
                <input type="text" class="intext" name = "id" readonly value="{{user.id}}">
            </div>
            <div>
                <span>Ник</span>
                <input type="text" class="intext" name = "username" readonly value="{{user.username}}">
            </div>
            <div>
                <span>Баланс</span>
                <input type="text" class="intext" value="{{user.balance}}" name = "balance">

                        </div>
                        <div>
                            <span>Кошелёк</span>
                            <input type="text" class="intext" value="{{user.wallet}}" name = "wallet">
            
                                    </div>
            <div class="submit">
                <input type="submit" class="send">
            </div>
            
        </form>
        {%elif action == "settings.msgs"%}
        <form action="/{{action}}/save" method="POST" enctype="multipart/form-data">
            <div>
                <span>id</span>
                <input type="text" class="intext" name = "id" readonly value="{{setting.id}}">
            </div>
            <div>
                <span>Название</span>
                <input type="text" class="intext" name = "label" readonly value="{{setting.label}}">
            </div>
            <div>
                <span>RU</span>
                <textarea type="text" class="intext" rows = 10 name = "ru">{{setting.value.message.ru}}</textarea>
            </div>
            <div>
                <span>EN</span>
                <textarea type="text" class="intext" rows = 10 name = "en">{{setting.value.message.en}}</textarea>
            </div>
            <div>
                <span>Картинка</span>
                <input type="file" name="image" class = "intext" accept="image/png, image/jpeg">
            </div>
            <div class="submit">
                <input type="submit" class="send">
            </div>
        </form>
        {%elif action == "settings"%}
        <form action="/{{action}}/save" method="POST">
            <div>
                <span>id</span>
                <input type="text" class="intext" name = "id" readonly value="{{setting.id}}">
            </div>
            <div>
                <span>Название</span>
                <input type="text" class="intext" name = "label" readonly value="{{setting.label}}">
            </div>
            <div>
                <span>Значение</span>
                <input type="text" class="intext" name = "value" value="{{setting.value}}">
            </div>
            <div class="submit">
                <input type="submit" class="send">
            </div>
        </form>
        {%elif action == "write2person"%}
        <form action="/{{action}}/send" method="POST">
            <div>
                <span>Пользователь</span>
                <select name="user" class="intext">
                    {%for user in data%}
                    <option value="{{user.id}}">@{{user.username}}</option>
                    {%endfor%}
                </select>
            </div>
            <div>
                <span>Сообщение</span>
                <textarea type="text" class="intext" rows = 10 name = "message"></textarea>
            </div>
            <div class="submit">
                <input type="submit" class="send">
            </div>
        </form>
        {%elif action == "do_mailing"%}
        <form action="/{{action}}/send" method="POST" enctype="multipart/form-data">
            <div>
                <span>Язык</span>
                <select name="lang" class="intext">
                    <option value="en">English</option>
                    <option value="ru">Русский</option>
                </select>
            </div>
            <div>
                <span>Картинка</span>
                <input type="file" name="image" class = "intext" accept="image/png, image/jpeg">
            </div>
            <div>
                <span>Сообщение</span>
                <textarea type="text" class="intext" rows = 10 name = "message"></textarea>
            </div>
            <div class="submit">
                <input type="submit" class="send">
            </div>
        </form>
        {%endif%}
    </main>
</body>
</html>
